<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Punjab Pollution Board Footer Page</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body th:fragment="body">
	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<h2>Punjab Pollution Board Industry Tracker</h2>
			<ul class="actions">
				<li><span class="icon fa-phone"></span> <a href="#">(000)
						000-0000</a></li>
				<li><span class="icon fa-envelope"></span> <a href="#">information@untitled.tld</a></li>
				<li><span class="icon fa-map-marker"></span> 123 Somewhere
					Road, Nashville, TN 00000</li>
			</ul>
		</div>
		<div class="copyright">
			&copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>.
			Images <a href="https://unsplash.com">Unsplash</a>.
		</div>
	</footer>

	<!-- Scripts -->
	<script src="../../js/jquery.min.js"></script>
	<script src="../../js/jquery.scrolly.min.js"></script>
	<script src="../../js/skel.min.js"></script>
	<script src="../../js/util.js"></script>
	<script src="../../js/main.js"></script>
	
	<script src="../../js/bootstrap.min.js"></script>
	<script src="../../js/bootstrap-table.min.js"></script>
	<script src="../../js/bootstrap-table-en-US.min.js"></script>
	
	
	<script>
		  $( function() {
		    $( "#currentdate" ).datepicker();
		    $( "#installdate" ).datepicker();
		  } );
	</script>

</body>
</html>